.card {
    position: relative;
    /* top: 15px; */
    /* left: 35%; */
    /* display: block; */
    margin: 30px;
    /* margin-bottom: 20px; */
    padding-top: 15px;
    width: 220px;
    height: 280px;
    /* background: #fff; */
    /* border-radius: 5px; */
    /* overflow: hidden; */
  
    /* background: rgba(255, 255, 255, 0.5); */
    border-radius: 16px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(5px); */
    /* -webkit-backdrop-filter: blur(5px); */
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    justify-items: center;

    box-shadow: rgba(0, 0, 0, 0.50) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    /* background-color: rgba(255, 255, 255, 0.15); */
    /* border-radius: 12px; */
    border: 1px solid rgba(209, 213, 219, 0.3);

    z-index: 1;
  }

  .card:hover {
    transform: scale(1.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .name{
    font-family: 'Kalam', cursive;
    font-size: 20px;
    text-shadow: 3px 3px 3px #5f5e5e;
  }

 